:80 {
    encode gzip zstd

    handle_path /api/* {
        reverse_proxy 127.0.0.1:8360
    }

    handle_path /admin/* {
        reverse_proxy 127.0.0.1:8360
    }

    handle {
        root * /srv/hioshop/www
        try_files {path} /index.html
        file_server
    }

    log {
        output stdout
        format console
    }
}
